    
    {% load static %}
    {% load crispy_forms_tags %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'posts/styles.css' %}">
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'posts/main.js' %}" defer></script>
    <script src="{% static 'posts/functions.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"             integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    {% endblock scripts %}

    {% block title %}
    {% endblock title %}

    {% block content %}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form  id ='post-form'>
                            {% csrf_token %}
                            {{form|crispy}}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">close</button>
                                <button type="submit" class="btn btn-success">+ add</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div id = 'alert-box'></div>
        <button type="button" class="btn btn-info ms-5 mt-" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Post 
        </button>


        <div id = 'posts-box' ></div>
            <div id =  "spinnerBox" class='text-center'>
                <div class="spinner-border" role="status"></div>
            </div>
        <div class = "text-center mb-3" id ='end-box' >
            <button class = "btn btn-primary" id='load-more'>Load more</button>
        </div>
    {% endblock content %}







    